asgiref
certifi
chardet
charset-normalizer
click
colorama
crispy-bootstrap4
crispy-bootstrap5 @ git+https://github.com/django-crispy-forms/crispy-bootstrap5.git@1685644492038ed1150cb36a3bcedddb81f66673

distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
filelock
googletrans
gTTS
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
mysql-connector-python
numpy
pandas
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
python-dateutil
pytz
requests
rfc3986
setuptools
six
sniffio
SpeechRecognition
sqlparse
typing_extensions
tzdata
urllib3
virtualenv