{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="shortcut icon" href="{% static 'img_icon.png' %}" type="image/x-icon">
<title>{% block title %}Pass Change Page{% endblock title %}</title>

<div class="flex items-center justify-center min-h-screen -100">
    <form class="w-full max-w-lg bg-gray-300  p-8 rounded-lg shadow-md" method="post" novalidate>
        <h2 class="text-center text-2xl font-bold mb-4">Change Your Password</h2>
        {% csrf_token %}
        
        <table class="table-auto w-full mb-4">
            <tbody>
                {% for fm in form %}
                <tr>
                    <td class="px-4 py-2 text-right font-bold">{{ fm.label_tag }}</td>
                    <td class="px-4 py-2 ">{{ fm }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="px-4 py-2 text-red-600">{{ fm.errors|striptags }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="flex justify-center">
            <button class="btn bg-yellow-500 text-white font-bold py-2 px-4 rounded hover:bg-yellow-600">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}