{% extends 'base.html' %}
{% load static %}

{% block head_title %}Literary Oasis{% endblock %}

{% block content %}
<div class="bg-white px-3 py-4 rounded-xl my-6">
    <div class="flex flex-col md:flex-row items-start md:items-center justify-between space-y-4 md:space-y-0">
        <h4 class="font-bold text-2xl md:text-3xl text-left pb-5 md:pb-0">Library Account No: {{ request.user.account.account_no }}</h4>
        <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
            <a href="{% url "pass_change" %}" class="text-white font-bold text-lg bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded px-5 py-2.5">Change Your Password</a>
            <a href="{% url "update_profile" %}" class="text-white font-bold text-lg bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded px-5 py-2.5">Update Profile</a>
        </div>
    </div>

    <div class="container mt-4">
        <h2 class="text-xl md:text-2xl font-bold">Your Borrowed Books ({{borrowed_books | length}})</h2>
        <ul class="mt-4">
            {% for borrowed_book in borrowed_books %}
            <li class="flex flex-col md:flex-row items-start p-2 gap-5 border rounded-xl border-gray-300 mb-4">
                <div class="flex-shrink-0">
                    <img src="{{ borrowed_book.book.image.url }}" class="w-full h-auto md:h-40 md:w-24 rounded-lg" alt="book_image">
                </div>
                <div class="mt-4 md:mt-0 md:ml-4">
                    <h4 class="font-bold text-lg">{{ borrowed_book.book.name }}</h4>
                    <p class="text-gray-600">Price: ${{ borrowed_book.book.borro_price }}</p>
                    <p class="text-gray-600">Borrowed on: {{ borrowed_book.borrow_date }}</p>
                    {% if borrowed_book.return_date %}
                    <p class="text-gray-600">Returned on: {{ borrowed_book.return_date }}</p>
                    {% endif %}
                    <div class="mt-4">
                        {% if not borrowed_book.return_date %}
                        <a href="{% url 'return_book' borrowed_book.book.id %}" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded m-1 inline-block">Return</a>
                        {% else %}
                        <button class="bg-gray-800 text-white py-2 px-4 rounded m-1 inline-block" disabled>Returned</button>
                        <a class="bg-red-600 text-white py-2 px-4 rounded m-1 inline-block" href="{% url 'delete_borrowed_book' borrowed_book.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}