{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Literary Oasis">
  <title>{% block head_title %}Literary Oasis{% endblock %}</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  {% block head_extra %}{% endblock %}
  <style>
    html, body {
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    #main {
      flex: 1;
    }
    footer {
      width: 100%;
    }
  </style>
</head>
<body class="bg-green-500">
  {% include 'navbar.html' %}
  <div class="lg:container lg:mx-auto" id="main">
    {% include 'messages.html' %}
    {% block content %}{% endblock %}
  </div>
  {% include 'footer.html' %}
</body>
</html>
